:root {
    --prymary-soft-red: hsl(7, 99%, 70%);
    --prymary-yellow: hsl(51, 100%, 49%);
    --prymary-dark-desaturated-cyan: hsl(167, 40%, 24%);
    --prymary-dark-blue: hsl(198, 62%, 26%);
    --prymary-dark-moderate-cyan: hsl(168, 34%, 41%);

    --neutral-blue1: hsl(212, 27%, 19%);
    --neutral-blue2: hsl(213, 9%, 39%);
    --neutral-blue3: hsl(232, 10%, 55%);
    --neutral-blue4: hsl(210, 4%, 67%);
    --neutral-blue5: #6ECEFF;
    --neutral-white: hsl(0, 0%, 100%);

    --font1: 'Barlow', sans-serif;
    --font2: 'Fraunces', serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font1);
}

body {
    min-height: 100%
}

/* HEADER AND NAV */

header {
    background: url(../images/desktop/image-header.jpg) no-repeat center center;
    /* width: 100vw; */
    height: calc(1600/2880*99vw);
    background-size: contain;
    margin-block: 0;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#header-logo {
    margin: 40px 30px;
    margin-right: auto;
}


.nav__links li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}

button#cta {
    padding: 0.95rem 1.4rem;
    border: none;
    border-radius: 50px;
    font-family: var(--font2);
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 40px;
}

button#cta:hover {
    background-color: var(--neutral-blue5);
    cursor: pointer;
    color: var(--neutral-white);
}

.nav__links li a {
    text-decoration: none;
    color: var(--neutral-white);
}

header>h1 {
    text-align: center;
    font-family: var(--font2);
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-size: 2.7rem;
    color: var(--neutral-white);
    margin-top: 40px;
}

header img#downward-arrow {
    display: block;
    margin-inline: auto;
    margin-top: 110px;
    width: 2.5%;
}

/* MAIN-GRID */

section.main-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-txt {
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    flex: 50%;
}

.grid-txt h2 {
    font-family: var(--font2);
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    color: var(--neutral-blue1);
    margin-inline: 15%;
}

.grid-txt p {
    font-family: var(--font1);
    margin-bottom: 2rem;
    margin-inline: 15%;
    color: var(--neutral-blue3);
}

.grid-txt a {
    margin-inline: 15%;
    font-family: var(--font2);
    font-weight: 700;
    text-decoration: none;
    color: var(--neutral-blue1);
}

.grid-txt a:visited {
    color: var(--neutral-blue1);
}

#txt-1 a {
    border-bottom: 0.4rem solid var(--prymary-yellow);
}

#txt-2 a {
    border-bottom: 0.4rem solid var(--prymary-soft-red);
}

.grid-img {
    min-width: 0;
    flex: 50%;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex: 100%;
    /* width: 100vw;
    height: 50vh; */
}

.card {
    flex: 50%;
    display: flex;
    flex-direction: column;
    height: calc(600/720*50vw);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: flex-end;
    position: relative;
}

#card1 {
    background-image: url(../images/desktop/image-graphic-design.jpg);
    color: var(--prymary-dark-desaturated-cyan);
}

#card2 {
    background-image: url(../images/desktop/image-photography.jpg);
    color: var(--prymary-dark-blue);
}

.card h3 {
    position: absolute;
    top:65%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: var(--font2);
    font-size: 2rem;
    font-weight: 700;
    
}

.card p {
    position: absolute;
    top:75%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: var(--font1);
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.1rem;
    width: 55%;
}

#card1 p {
    color: var(--prymary-dark-moderate-cyan);
}

.testimonials>h2 {
    font-family: var(--font2);
    font-size: 1.3rem;
    color: var(--neutral-blue4);
    letter-spacing: 0.4rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

section.testimonials .testimonials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    /* flex: 33%; */
}

.testimonial-card img {
    display: block;
    margin: 3rem auto;
    border-radius: 50%;
    width: 80px;
    height: auto;
}

.testimonial-card p {
    font-family: var(--font1);
    color: var(--neutral-blue2);
    margin-inline: 1.8rem;
    margin-bottom: 3.5rem;
}

.testimonial-card h4 {
    font-family: var(--font2);
    color: var(--neutral-blue1);
    font-weight: 900;
    margin-inline: 1.8rem;
    margin-bottom: 0.4rem;
}

.testimonial-card h5 {
    font-family: var(--font1);
    color: var(--neutral-blue4);
    margin-inline: 1.8rem;
    margin-bottom: 0.4rem;
}

section.testimonials .testimonial-card {
    text-align: center;
}